body, html {
    font-family: "Montserrat", sans-serif !important;
}
/* Intro Section Strarts */
.intro-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to right, rgba(32, 32, 32, 0.4),rgba(46, 36, 36, 0.3));
}
@media (max-width: 450px) {
    .intro-section {
        /* height: 0vh !important; */
    }
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.intro-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: inherit;
}

.intro_text {
    font-size: 3em;
    margin: 0.5em 0;
    font-weight: bold;
    color: white;
}
@media screen and (max-width: 600px) {
	.intro_text{
		font-size: 2.5em;
		margin: 0 1em 1em;
	}
.intro_para {
			margin:0 1em !important;
		}
}

.intro_highlight{
    color: #048C8D;
    font-size: 51px;
	font-weight: bold;
}

.intro_para {
    font-size: 1.2em;
    max-width: 65vh;
    margin: 0 auto;
    line-height: 30px;
    font-weight: 400;
}

.scroll-mouse {
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
}

.scroll-mouse img {
    width: 2em;
    height: auto;
    animation: bounce 2s infinite;
}

@media screen and (max-width: 600px) {
.scroll-mouse img {
width: 2em !important;
}
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

/* Intro Section Ends */

/* MBS Section Starts */

/* .responsive-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85vh;
    box-sizing: border-box;
} */

.responsive-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .responsive-container {
        height: 90vh;
    }
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 110vh;
    background: url('/assets/img/MBS_BG.png') no-repeat center center/cover;
    /* position: relative; */
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Optional overlay to improve text readability */
}
.image-section {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
@media (max-width: 450px) {
.image-section {
    flex: 1.5;
}
}
.image-section img {
    width: 100%;
    height: auto;
    object-fit: contain;
	object-position: left;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    bottom: 0;
}
.text-section {
    flex: 2;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
	margin-right: 10rem;
}
.text-content {
    /* max-width: 800px; */
    color: black;
    text-align: center;
}
.mbs-text{
    font-size: calc(0.8rem + 1vw);
    text-align: start;
    font-weight: 500;
    line-height: 1.2;
	text-wrap: balance;
}
.mbs-para{
    font-weight:bold ;
    font-size: calc(0.4rem + 1vw);
    text-align: start;
}
.mbs-para::before {
    content: "";
    position: absolute;
    /* bottom: 0; */
    left: 2%;
    /* right: 0; */
    height: 0.5em;
    border-top: 2px solid black;
    width: 75%;
    place-self: start;
    margin-top: -1vh;
}

.text-content h1, .text-content p {
    margin: 0;
}
.text-content p {
    margin-top: 33px;
}
@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }
    .text-section, .image-section {
        width: 100%;
        height: 50%;
    }
    .image-section img {
        height: auto;
		border: 6px solid #352b2c;
        object-fit: cover;
    }
	.mbs-text{
		font-size: calc(1.2rem + 1vw);
		text-align: justify;
		font-weight: 500;
		line-height: 1.1;
	}
	.mbs-para{
		font-weight: bold;
		font-size: calc(1rem + 1vw);
		text-align: start;
	}
	.mbs-para::before{
		content: "";
		position: absolute;
		/* bottom: 0; */
		left: 2%;
		/* right: 0; */
		height: 0.5em;
		border-top: 2px solid black;
		width: 87%;
		place-self: start;
		margin-top: -1vh;
	}
}

/* MBS Section Ends */

/* Our Ventures Section Starts */

.carousel-wrapper1 {
    padding: 20px;
    text-align: center;
    color: #000000;
    position: relative;
}

.our_ventures_text {
    font-size: 3em;
    margin: 1em 0;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 600px) {
	.our_ventures_text{
		font-size: 2.5em;
	}
	.text-88{
		font-size: 2.5rem!important;
		font-weight: bold;
	}
	.content-center
	{
		text-align: center;
	}

	.title_sf{
		font-size: 2em;
	}
}
 .slider-img {
    max-width: 100%;
	max-height: 100%;
    object-fit: contain; /* Ensure image fits without distortion */
    margin: 0 auto;
    display: block;
	border-radius: 3%;

}

.owl-custom-1{
    /* margin-top: 10vh; */
    margin-bottom: 5vh;
}

.slider-logo{
	display: inline-block;
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	width: 45%;
	height: 0;
	padding-bottom: 13%;
	transform: translate(-50%, -50%);
	transition: all .45s ease;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.modal-content {
    background-color: #fefefe;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    padding: 3% 2%;
    overflow-y: auto;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.close-button {
    color: #000000;
    position: absolute;
    top: 28px;
    right: 28px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 55px;
    color: #fff;
    text-align: center;
    background: #000;
    font-weight: bold;	
}

.close-button:hover,
.close-button:focus {
    color: rgb(0, 0, 0);
	background: #807e7e;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .modal-content {
        width: 100%;
    }
}

/* Prevent scrolling when modal is open */
body.modal-open {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
}

.modal-flex{
	flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
}

.text-title-flex{
	text-align: start;
	margin-bottom: 1.5vh;
	font-size: 20px;
	font-weight: 700;
}
.text-desc-flex{
text-align: start;
font-size: 20px;
color: black;
font-weight: 500;
}

.ourventures .owl-item {
    transition: all 0.3s ease;
}

.ourventures .owl-item.grayscale img {
    filter: grayscale(100%);
    opacity: 0.7;
}

.ourventures .owl-item.colored img {
    filter: none;
    opacity: 1;
}
/* Default grayscale style */
.ourventures .owl-item.grayscale {
    filter: grayscale(100%);
    transition: filter 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: scale(0.9);
}

/* Colored style with animation */
.ourventures .owl-item.colored {
    filter: grayscale(0%);
    transform: scale(1);
}


/* Our Ventures Section Ends */

/* Partners Section Starts */

.partners_text {
    font-size: 3em;
	margin: 1.5em 0;
    font-weight: bold;
    /* color: white; */
}

.carousel-wrapper {
    /* background-color: #121B1D; */
    padding: 20px;
    text-align: center;
    color: #fff;
    position: relative;
    /* border-top: 1px solid black; */
}
.owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.carousel-item {
    padding: 20px 0; /* Space above and below the images */
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-item img {
    max-width: 100%;
    max-height: 143px; /* Fixed height for consistency */
    object-fit: contain; /* Ensure image fits without distortion */
    margin: 0 auto;
    display: block;
}
.owl-custom{
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-inline-end: 2.5vw;
    margin-inline-start: 2.5vw;
    max-width: 98%;
}
@media screen and (max-width: 600px) {

.partners_text {
    font-size: 2.5em;
}
}
/* Partners Section Ends */

/* Strategic Foucs Section Start */


.sf-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0%; /* 3% */
    text-align: center;
}

.sf-title {
    font-size: 3em;
    /* margin-bottom: 6vh; */
	margin: 1em 0;
    font-weight: bold;
}
@media screen and (max-width: 600px) {
	
	.sf-title{
		font-size: 2.5rem;

	}
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
	margin: 2%;
}

.flex-item {
    /* background: url('/assets/img/MBS-BG.png') no-repeat center center/cover; */
	padding-inline-start: 4%;
    /* border: 1px solid #ddd; */
    /* border-radius: 8px; */
    flex: 1 1 calc(25% - 20px); /* Adjusting for gap */
    box-sizing: border-box;
}

:lang(ar).flex-item{
	padding-inline-end: 4%;
	padding-inline-start: 0%;

}
@media screen and (max-width: 1751px) {

.flex-item {
    flex: 1 1 calc(34% - 20px);
}
}
.step_sf{
    text-align: start;
    font-size: small;
    margin-bottom: 0;
    font-weight: 400;
}

.title_sf{
    text-align: start;
    margin-bottom: 2.5vh;
	font-size: 40px;
}

.para_sf{
    text-align: start;
	font-size: 16px;
}

.item1{
    /* background: url('/assets/img/item_1.png') no-repeat;
    background-size: contain; */
    background-position: right;
}
.item2{
    /* background: url('/assets/img/item_2.png') no-repeat;
    background-size: contain; */
    background-position: right;
}
.item3{
    /* background: url('/assets/img/item_3.png') no-repeat;
    background-size: contain; */
    background-position: right;
}
.item4{
    /* background: url('/assets/img/item_4.png') no-repeat;
    background-size: contain; */
    background-position: right;
}

/* Strategic Foucs Ends */


/* Theme Modifications Starts */

@media (max-width: 767px) {
    input.lqd-cf-form-control.bg-primary.text-white.text-17.leading-1\/5em.font-medium {
    margin-bottom:167px
    }
    }

/* Theme Modifications Ends */




/* Emissions Starts */



:root {

	--swiper-theme-color: #007aff;

}



:root {

	--color-black: #1d1f22;

	--color-black-15a: rgba(29,31,34,0.15);

	--color-black-20a: rgba(29,31,34,0.2);

	--color-black-30a: rgba(29,31,34,0.3);

	--color-black-90a: rgba(29,31,34,0.9);

	--color-black-90: #343538;

	--color-black-75: #565759;

	--color-black-50: #8e8f90;

	--color-black-20: #d2d2d3;

	--color-black-10: #e2e0da;

	--color-cream: #f3efe5;

	--color-cream-50: #f5f3ea;

	--color-cream-25: #fcfbf8;

	--color-white: #fff;

	--color-white-10a: hsla(0,0%,100%,0.1);

	--color-white-20a: hsla(0,0%,100%,0.2);

	--color-white-30a: hsla(0,0%,100%,0.3);

	--color-white-15a: hsla(0,0%,100%,0.15);

	--color-real-black: #000;

	--color-deep-black: #161719;

	--color-deep-black-30a: rgba(22,23,25,0.3);

	--color-deep-black-90a: rgba(22,23,25,0.9);

	--color-light-grey: #f8f8f8;

	--color-gold: #ebc03f;

	--color-gold-50: #f5df9f;

	--color-gold-25: #faefcf;

	--color-dark-gold-20a: rgba(184,139,53,0.2);

	--color-dark-gold: #b89535;

	--color-hotspots: #ffd02a;

	--color-bright-yellow: #ffd02a;

	--color-page-background: #f9f7f2;

	--color-mobile-language-selector-background: #111314;

	--color-ui-error: red;

	--color-ui-success: green;

	--color-dark-blue: #003865;

	--color-green: #006b44;

	--color-orange: #f18825;

	--color-light-blue: #007bb5;

	--color-red: #e0403f;

	--color-dark-cerulean: #104878;

	--color-olive-drab: #628500;

	--color-rouge: #a0346c;

	--color-atoll: #2c818d;

	--color-shuttle-grey: #616366;

	--color-night-shadz: #a63b45;

	--color-sun-orange: #f29132;

	--color-observatory: #068c6e;

	--color-zorba: #9e8e80;

	--color-cannon-pink: #93506a;

	--color-cello: #34495e;

	--color-pine-cone: #796755;

	--color-blue-diamond: #4c2d67;

	--gradient-map-top: linear-gradient(0deg,rgba(29,31,34,0),rgba(29,31,34,0.8));

	--gradient-map-bottom: linear-gradient(0deg,rgba(29,31,34,0.8),rgba(29,31,34,0));

	--mask-background-color: rgba(0,0,0,0.9);

	--containerMargin: 5.5555555556vw;

	--largeContainerMargin: 5.5555555556vw;

	--fluid-type-viewport-width-max: 1440px;

	--containerMaxWidth: var(--fluid-type-viewport-width-max);

	--grid-gap: 20px;

	--block-padding: 40px;

	--dropdown-navigation-offset: 140px;

	--page-indicator-color: var(--color-black-20a);

	--page-indicator-color-active: var(--color-dark-gold);

	--modal-background-color: var(--color-cream-50);

	--modal-mask-color: rgba(0,0,0,0.75);

	--modal-text-color: var(--color-black);

	--color-camel: green;

}



@media(min-width:768px) {

	:root {

		--containerMargin: 4.8611111111vw;

		--largeContainerMargin: 12.5vw;

	}

}



@media(min-width:1024px) {

	:root {

		--block-padding: 60px;

	}

}



@media(min-width:1440px) {

	:root {

		--containerMargin: 10px;

		--largeContainerMargin: 180px;

		--containerMaxWidth: 1780px;

	}

}



@media(min-width:1920px) {

	:root {

		--grid-gap: 26.66px;

	}

}






*,:after,:before {

	-webkit-font-smoothing: antialiased;

	-moz-osx-font-smoothing: grayscale;

	-webkit-box-sizing: border-box;

	box-sizing: border-box;

}



h2 {

	font-weight: 400;

	margin: 0;

}



h2 {

	font-weight: 400;

	letter-spacing: .09em;

	line-height: 120%;

	font-family: Brown,Bukra,Arial,sans-serif;

	text-transform: uppercase;

	font-size: 50px;

}



@media screen and (min-width:480px) {

	h2 {

		font-size: calc(50px + 39*(100vw - 480px)/960);

	}

}



@media screen and (min-width:1440px) {

	h2 {

		font-size: 89px;

	}

}



@media(min-width:480px) {

	h2 {

		line-height: 135%;

		letter-spacing: .12em;

	}

}



ul {

	margin: 0;

}



ul {

	padding: 0;

}



img {

	display: block;

}



a {

	display: inline-block;

	font-family: inherit;

	color: inherit;

	text-decoration: none;

	background: none;

	border: 0;

	padding: 0;

	cursor: pointer;

}



.s-content ol li::marker,.s-content ul li::marker {

	color: var(--color-content-marker,var(--color-dark-gold));

}



[data-component=app-root] {

	opacity: 0;

	overflow-x: hidden;

}



[data-component=app-root].is-ready {

	opacity: 1;

}



.a-icon {

	height: var(--icon-size,24px);

	width: var(--icon-size,24px);

	color: var(--icon-fill-color);

	display: inline-block;

	vertical-align: middle;

}



.a-icon svg {

	height: 100%;

	width: 100%;

	display: block;

	fill: var(--icon-fill,currentColor);

}



.a-heading {

	text-transform: uppercase;

	font-weight: 400;

}



.a-heading.-h4 {

	font-weight: 400;

	letter-spacing: .09em;

	line-height: 143%;

	font-family: Brown,Bukra,Arial,sans-serif;

	text-transform: uppercase;

	font-size: 28px;

}



@media screen and (min-width:480px) {

	.a-heading.-h4 {

		font-size: calc(28px + 22*(100vw - 480px)/960);

	}

}



@media screen and (min-width:1440px) {

	.a-heading.-h4 {

		font-size: 50px;

	}

}



@media(min-width:480px) {

	.a-heading.-h4 {

		line-height: 120%;

		letter-spacing: .12em;

	}

}



.a-image {

	overflow: hidden;

}



.a-image,.a-image__picture {

	top: 0;

	left: 0;

	height: 100%;

	width: 100%;

	position: absolute;

}



.a-image__picture {

	top: 0;

	right: 0;

	bottom: 0;

	left: 0;

}



.a-image__img {

height: 100%;

width: 100%;

-o-object-fit: cover;

object-fit: cover;

position: relative;
}



.b-blinds {

	-webkit-box-sizing: border-box;

	box-sizing: border-box;

	/* padding: var(--block-padding) 0; */

	width: 100%;

}



.b-blinds__heading {

	padding: 28px 20px;

	color: var(--color-black);

}



.b-blinds__container {

	height: 100%;

	width: 100%;

	background-color: var(--color-cream);

	color: var(--color-white);

	position: relative;

}



.b-blinds__items {

	list-style: none;

	margin: 0;

	padding: 0;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;

	-webkit-box-orient: vertical;

	-webkit-box-direction: normal;

	-ms-flex-direction: column;

	flex-direction: column;

}



.b-blinds__item {

	width: 100%;

	-webkit-box-flex: 1;

	-ms-flex-positive: 1;

	flex-grow: 1;

	border-bottom: 1px solid var(--color-white);

}



.b-blinds.-isExpanded .b-blinds__item.-isActive .o-blind__itemContent:after {

	-webkit-transform: translateY(0);

	-ms-transform: translateY(0);

	transform: translateY(0);

}



.b-blinds.-isExpanded .b-blinds__item.-isActive .o-blind__contentWrapper {

	opacity: 1;

}



.b-blinds.-isExpanded .b-blinds__item.-isActive .a-icon.-chevron {

	-webkit-transform: rotate(-180deg);

	-ms-transform: rotate(-180deg);

	transform: rotate(-180deg);

}



@media(min-width:768px) {

	.b-blinds {

		height: 100vh;

		height: calc(var(--vh)*100);

	}



	.b-blinds__items {

		list-style: none;

		margin: 0;

		padding: 0;

		height: 100%;

		width: 100%;

		display: -webkit-box;

		display: -ms-flexbox;

		display: flex;

		-webkit-box-orient: horizontal;

		-webkit-box-direction: normal;

		-ms-flex-direction: row;

		flex-direction: row;

	}



	.b-blinds__item {

		height: 100%;

		width: calc(100%/var(--blinds-count));

		border-bottom: 0;

		position: relative;

		-webkit-transition: width .8s cubic-bezier(.19,1,.22,1);

		-o-transition: width .8s cubic-bezier(.19,1,.22,1);

		transition: width .8s cubic-bezier(.19,1,.22,1);

	}



	.b-blinds__heading {

		height: 100%;

		width: 100%;

		top: 0;

		left: 0;

		margin: 0 auto;

		position: absolute;

		display: -webkit-box;

		display: -ms-flexbox;

		display: flex;

		-webkit-box-pack: center;

		-ms-flex-pack: center;

		justify-content: center;

		-webkit-box-align: center;

		-ms-flex-align: center;

		align-items: center;

		pointer-events: none;

		color: var(--color-white);

		-webkit-transition: opacity .4s cubic-bezier(.215,.61,.355,1);

		-o-transition: opacity .4s cubic-bezier(.215,.61,.355,1);

		transition: opacity .4s cubic-bezier(.215,.61,.355,1);

		z-index: 1;

	}



	.b-blinds__heading .a-heading {

		max-width: inherit;

		text-align: center;

	}

}



@media(min-width:768px)and (hover:hover) {

	.b-blinds:hover .b-blinds__item .a-image {

		opacity: .2;

	}

}



@media(min-width:768px)and (hover:hover)and (hover:hover) {

	.b-blinds:hover .b-blinds__item:hover {

		width: 26%;

	}



	.b-blinds:hover .b-blinds__item:hover .a-image {

		opacity: .6;

	}

}



@media(min-width:768px) {

	.b-blinds.-isExpanded .b-blinds__heading,.b-blinds.-isExpanded .o-blind__title {

		opacity: 0;

	}



	.b-blinds.-isExpanded .b-blinds__item .a-image {

		opacity: .2;

	}



	.b-blinds.-isExpanded .b-blinds__item.-isActive {

width: 300%;

}



	.b-blinds.-isExpanded .b-blinds__item.-isActive .o-blind__title {

		opacity: 1;
			writing-mode: unset;

	}
		.b-blinds.-isExpanded .o-blind__title {
			opacity: 1;
			writing-mode: vertical-lr;
		}


	.b-blinds.-isExpanded .b-blinds__item.-isActive .a-image {

		opacity: .4;

	}



	.b-blinds.-isExpanded .b-blinds__item.-isActive .o-blind__contentWrapper {

		opacity: 1;

		pointer-events: all;

	}

}



.o-blind {

	position: relative;

	width: 100%;

	height: 100%;

}



.o-blind__title {

font-weight: 400;

letter-spacing: .09em;

line-height: 120%;

font-family: Brown,Bukra,Arial,sans-serif;

position: absolute;

text-transform: uppercase;

left: 31px;

top: 50%;

-webkit-transform: translateY(-50%);

-ms-transform: translateY(-50%);

transform: translateY(-50%);

min-height: 35px;

border-left: 3px solid #522bb8;

padding-left: 10px;

font-size: 16px;
}



@media screen and (min-width:480px) {

	.o-blind__title {

		font-size: calc(16px + 0*(100vw - 480px)/960);

	}

}



@media screen and (min-width:1440px) {

	.o-blind__title {

		font-size: 25px;

	}

}



@media(min-width:480px) {

	.o-blind__title {

		line-height: 130%;

		letter-spacing: .12em;

	}

}



.o-blind__itemContent {

	position: relative;

	width: 100%;

	color: currentColor;

	background: var(--color-black);

	overflow: hidden;

}



.o-blind__itemContent:before {

content: "";

display: block;

padding-top: 145.444444%;
}



.o-blind__itemContent .a-icon.-chevron {

	height: 14px;

	width: 14px;

	position: absolute;

	right: 20px;

	top: calc(50% - 7px);

	-webkit-transform-origin: center center;

	-ms-transform-origin: center center;

	transform-origin: center center;

	-webkit-transition: -webkit-transform .8s cubic-bezier(.19,1,.22,1);

	transition: -webkit-transform .8s cubic-bezier(.19,1,.22,1);

	-o-transition: transform .8s cubic-bezier(.19,1,.22,1);

	transition: transform .8s cubic-bezier(.19,1,.22,1);

	transition: transform .8s cubic-bezier(.19,1,.22,1),-webkit-transform .8s cubic-bezier(.19,1,.22,1);

}



.o-blind__itemContent .a-image {

	opacity: .4;

}



.o-blind__itemContent:after {

	content: "";

	display: block;

	position: absolute;

	height: 0;

	width: 0;

	left: 41px;

	bottom: 0;

	border-left: 10px solid transparent;

	border-bottom: 10px solid var(--color-cream);

	border-right: 10px solid transparent;

	border-top: 0 solid transparent;

	-webkit-transition: -webkit-transform .8s cubic-bezier(.19,1,.22,1);

	transition: -webkit-transform .8s cubic-bezier(.19,1,.22,1);

	-o-transition: transform .8s cubic-bezier(.19,1,.22,1);

	transition: transform .8s cubic-bezier(.19,1,.22,1);

	transition: transform .8s cubic-bezier(.19,1,.22,1),-webkit-transform .8s cubic-bezier(.19,1,.22,1);

	-webkit-transform: translateY(100%);

	-ms-transform: translateY(100%);

	transform: translateY(100%);

}



.o-blind__contentWrapper {

	color: #1d1f22;

	position: relative;

	height: 70%;

	opacity: 0;

	-webkit-transition: opacity .3s ease;

	-o-transition: opacity .3s ease;

	transition: opacity .3s ease;

}



.o-blind__content {

	padding: 42px;

	height: 100%;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;

	-webkit-box-orient: vertical;

	-webkit-box-direction: normal;

	-ms-flex-direction: column;

	flex-direction: column;

	-webkit-box-pack: justify;

	-ms-flex-pack: justify;

	justify-content: space-between;

}



.o-blind__description {
	text-align: start;
	word-spacing: 0px;
	font-weight: 100;
	padding-left: 20px;
	padding-right: 20px;
	letter-spacing: 0;
	/*line-height: 135%;*/
	line-height: 35px;
	/*white-space: pre-line;*/
	font-size: 16px;
	overflow-y: auto;
}



@media screen and (min-width:480px) {

	.o-blind__description {

		font-size: calc(16px + 5*(100vw - 480px)/960);

	}

}



@media screen and (min-width:1440px) {

	.o-blind__description {

		font-size: 21px;
	

	}

}



@media(min-width:480px) {

	.o-blind__description {

		line-height: 148%;

		letter-spacing: 0;

	}

}



@media(min-width:768px) {

	.o-blind__title {

left: 41px;

top: 32px;

-webkit-transform: none;

-ms-transform: none;

transform: none;

-webkit-transition: opacity .4s cubic-bezier(.215,.61,.355,1);

-o-transition: opacity .4s cubic-bezier(.215,.61,.355,1);

transition: opacity .4s cubic-bezier(.215,.61,.355,1);

}



	.o-blind__itemContent {

		height: 100%;

	}



	.o-blind__itemContent .a-icon.-chevron,.o-blind__itemContent:after,.o-blind__itemContent:before {

		display: none;

	}



	.o-blind__contentWrapper,.o-blind__itemContent .a-image {

		-webkit-transition: opacity .4s cubic-bezier(.215,.61,.355,1);

		-o-transition: opacity .4s cubic-bezier(.215,.61,.355,1);

		transition: opacity .4s cubic-bezier(.215,.61,.355,1);

	}



	.o-blind__contentWrapper {

		position: absolute;

		top: 160px;

		width: 200px;

		left: 41px;

		color: currentColor;

		opacity: 0;

		pointer-events: none;


	}



	.o-blind__content {

		padding: 0;

	}

}



@media(min-width:1024px) {

	.o-blind__contentWrapper {

width: 800px;
}

}



@supports(-webkit-text-stroke:1px black) {

}



.m-list__item::marker {

	color: var(--color-content-marker,var(--color-dark-gold));

	font-size: 1.25em;

}



@supports(-webkit-text-stroke:1px black) {

}



@media(min-width:1024px) {
	@supports not (-webkit-text-stroke:1px black) {

}



@supports(-webkit-text-stroke:1px black) {

}}
/* Sub menu posstion */



@font-face {

	font-family: 'icomoon';

	src:  url('../content/dam/neom/invest/fonts/icomoon.eot');

	src:  url('../content/dam/neom/invest/fonts/icomoon.eot') format('embedded-opentype'),

	  url('../content/dam/neom/invest/fonts/icomoon.ttf') format('truetype'),

	  url('../content/dam/neom/invest/fonts/icomoon.woff') format('woff'),

	  url('../content/dam/neom/invest/fonts/icomoon.svg') format('svg');

	font-weight: normal;

	font-style: normal;

	font-display: block;

  }
  @media screen and (max-width:500px) {

	/* .mobile-down-fix{
	  margin-top:20% !important;
  } */
	}

	/* Emissions Ends */
	
	/* .container-sf {
		display: flex;
		height: 85vh;
		width: 100%;
		position: relative;
	} */
	.container-sf {
		display: flex;
		height: 70vh;
		width: 100%;
		position: relative;
	}
	
	.center-title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 10;
		text-align: center;
		color: white;
	}
	
	.center-title h1 {
		font-size: 48px;
		font-weight: bold;
		margin: 0;
		color: white;
	}
	
	.item-sf {
		flex: 1;
		position: relative;
		overflow: hidden;
		transition: flex 0.5s;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	
	:lang(en) .item-sf .content-sf {
		color: white;
		font-size: 24px;
		text-align: left;
		padding: 20px;
		/* display: none; */
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		/* margin-bottom: auto; */
		z-index: 10;
	}
	:lang(ar) .item-sf .content-sf {
		color: white;
		font-size: 24px;
		text-align: right;
		padding: 20px 0;
		/* display: none; */
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		/* margin-bottom: auto; */
		z-index: 10;
	}


	
	:lang(en) .item-sf .content-sf h2 {
		width: 100%;
		margin: 0 0 2rem 0;
		padding-left: 10px;
		border-left: 5px solid #522bb8;
		/* font-size: 25px; */
		font-size: calc(16px + 8*((100vw - 700px) /(1200 - 300)));
		color: white;
		position: absolute;
		top: 22px;
	}

	:lang(ar) .item-sf .content-sf h2 {
		width: 99%;
		margin: 0 0 2rem 0;
		padding-right: 10px;
		border-right: 5px solid #522bb8;
		font-size: 25px;
		color: white;
		position: absolute;
		top: 22px;
	}
	
	.item-sf:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.5);
		transition: all .2s linear;
	  }
	  
	.item1-sf { background: url('/assets/img/strategic-focus/Emissions-Management.jpg') no-repeat center center/cover; }
	.item2-sf { background: url('/assets/img/strategic-focus/Energy-Transform.jpg') no-repeat center center/cover; }
	.item3-sf { background: url('/assets/img/strategic-focus/Circular-Economy.jpg') no-repeat center center/cover; }
	.item4-sf { background: url('/assets/img/strategic-focus/Smart-Agriculture-and-Food-Solutions.jpg') no-repeat center center/cover; }
	.item5-sf { background: url('/assets/img/strategic-focus/Blue-Economy.jpg') no-repeat center center/cover; }
	.item6-sf { background: url('/assets/img/strategic-focus/Data-and-Intelligence-Solutions.jpg') no-repeat center center/cover; }

	.item-sf:hover {
		flex: 3;
	}
	
	.container-sf:hover .item-sf:not(:hover) {
		flex: 0.5;
	}
	
	.item-sf:hover .content-sf {
		writing-mode: horizontal-tb;
		/* margin-bottom: auto; */
	}

	@media (min-width: 1001px) {

		:lang(ar) .container-sf:hover .item-sf:not(:hover) .content-sf {
			writing-mode: vertical-lr;
			border-right: 5px solid #522bb8;
			/* font-size: 25px;
			color: white;*/
			right: 41px;
			top: 32px;
			margin-bottom: auto;
			}
			:lang(en) .container-sf:hover .item-sf:not(:hover) .content-sf {
				writing-mode: vertical-lr;
				/* height: 60%; */
				left: 41px;
				top: 32px;
				margin-bottom: auto;
			}
		
	.item-sf:hover .desc-sf {
		visibility:visible;
		color: white;
		font-size: 24px;
		text-align: left;
		padding: 20px;
		/* display: none; */
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		margin-bottom: auto;
		z-index: 10;
		margin-top: 1%;
		transition: all .8s ease-in-out;
	}

}
	.container-sf:hover .center-title {
		display: none;
	}
	
	.desc-sf{
		visibility: hidden;
	}

	@media (max-width: 1000px) {
    .container-sf {
        display: block;
        height: auto;
    }

    .item-sf {
        height: 280px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        flex-direction: column;
        background-size: cover;
        transition: height 0.5s;
    }

    .item-sf .content {
        display: none;
        padding: 20px;
        text-align: left;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        width: 100%;
    }

    .item-sf .title {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 100%;
        padding-left: 10px;
        font-size: 18px;
        color: white;
        text-transform: uppercase;
    }

    .item-sf .title::before {
        content: '';
        display: inline-block;
        width: 5px;
        height: 100%;
        background-color: #b3a4ff; /* Purple left border */
        margin-right: 10px;
    }

    .item-sf.active {
        height: 26em;
    }

    .item-sf.active .content {
        display: block;
    }

    .center-title {
        display: none;
    }
}
	.item-sf.active .desc-sf {
		visibility:visible;
		color: white;
		font-size: 24px;
		text-align: left;
		padding: 20px;
		/* display: none; */
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		z-index: 10;
		margin: 10%0;
	}

/* Loader styles */
.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* */
@media (max-width: 575px) {

.lqd-contact-form.lqd-contact-form-inputs-underlined.lqd-contact-form-button-lg.lqd-contact-form-button-block.py-45.px-65.-mb-50.md\:p-0{
	margin:0 1em;
}
}

.h6,h6:dir(rtl) {
    letter-spacing: unset
}

.lqd-cf-acceptance .lqd-cf-list-item-label:after,.lqd-cf-acceptance .lqd-cf-list-item-label:dir(rtl):before {
    content: "";
    display: inline-flex;
    width: 1.7em;
    height: 1.7em;
    position: absolute;
    top: 40%;
    right: 0;
    margin-top: -.85em;
    align-items: center;
    justify-content: center
}

.lqd-contact-form .ui-button.ui-selectmenu-button,.lqd-contact-form input,.lqd-contact-form select,.lqd-contact-form textarea:dir(rtl) {
    display: flex;
    width: 100%;
    height: 50px;
    position: relative;
    align-items: center;
    transition: all .3s;
    text-align: right;
}

.flex-container:dir(rtl) {
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
    justify-content: center;
}

.mbs-para:dir(rtl)::before {
    content: "";
    position: absolute;
    height: 0.5em;
    border-top: 2px solid black;
    width: 75%;
    place-self: start;
    margin-top: -1vh;
    right: 2%; /* Aligns the line from the right side */
	left:unset !important;
}


@media (min-width: 1001px) {
	.item-sf:hover .desc-sf:lang(ar) {
		visibility:visible;
		color: white;
		font-size: 24px;
		text-align: start;
		direction: rtl;
		padding: 20px;
		/* display: none; */
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		margin-bottom: auto;
		z-index: 10;
		margin-top: 1%;
		transition: all .8s ease-in-out;
	}

}

.social-icon-main > li > a {
    border: 2px solid #522bb8;
    border-radius: 50%;
    background: #522bb8;
    width: 50px;
    height: 50px;
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
}

.social-icon-main > li  :hover {
    background: #17b5bb ;
        border: 2px solid #17b5bb;
}

.module-icon-box::before,
.module-icon-box::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.module-icon-box::before {
	color:black;
	background: white;
	border: 1px solid black;
	transition: opacity 10ms linear;
	opacity: 0;
	transform: scale(1.1);
}

.module-icon-box::after {
  content: '';
  height: 150%;
  width: 0.25em;
  transform: translateX(-1em);
}

.module-icon-box:hover::before {
  opacity: 1;
}
.module-icon-box:hover::after {
    animation-duration: 300ms;
  animation-name: sweep;

}

@keyframes sweep {
  from { 
    transform: translateX(-1em)
  }
  to { 
    transform: translateX(12.5em);
    animation-timing-function: ease-out; 
  }
}
.module-icon-box {
    min-height: 33vh;
}

:lang(ar) .wpb_text_column.wpb_content_element {
	border-left: 1px solid;
	border-right: 1px solid;
	padding: 4%;
	width: 100%;
}

:lang(en) .wpb_text_column.wpb_content_element {
	border-right: 1px solid;
	border-left: 1px solid;
	padding: 4%;
	width: 100%;
}

@media (max-width: 1001px) {
	.wpb_text_column.wpb_content_element {
		width: 100% !important;
		border-right: unset !important;
	}
	}        

	.aboutusicons{
		width:55px;
	}

	.responsive_text_40{
		font-size: calc(16px + 18*((120vw - 100px) /(1200 - 300)));
	}

	@media only screen and (min-device-pixel-ratio: 1.3) and (max-device-pixel-ratio: 2),
	only screen and (-webkit-min-device-pixel-ratio: 1.3) and (-webkit-max-device-pixel-ratio: 2) {
	 header {
		  max-width: unset !important;
		}
	  
		#wrap {
			zoom: 0.67;
		}
		.lqd-stickybar-wrap{
			height: 100% !important;
		}
		.lqd-module-backdrop{
			width: 100% !important;
			height: 100% !important;

		}
		.txt-rotate-keywords{
			min-width:max-content;
			  }
	  }

	  .iconbox{
		min-height: 17em;
	  }
 
	@media (max-width: 991px) and (min-width: 768px) {
		#co-contactus{
			height: unset;
			padding-bottom: 6em !important;
		}
	}
	#co-contactus{
		height: unset;
		padding-bottom: 6em;
	}
	.ql-size-small {
		font-size: 17px;
		}	
	.ql-size-large {
		font-size: 22px;
	}
	.ql-size-huge{
		font-size: 30px;
	}
	.wpb_wrapper > p > span > img {
		width: 80%;
	}
	.wpb_wrapper > p > img {
		width: 80%;
	}

	.ql-size-small > img {
		width: 20%;
	}
	.ql-size-large > img {
		width: 80%;
	}
	.ql-size-huge > img {
		width: 100%;
	}